<%= form_for(@article) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content%>
  </p>
  <div id="editor"><%= @article.content %>
  </div>

  <%= f.submit %>
<% end %>
<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/chrome");
      editor.getSession().setMode("ace/mode/markdown");
      editor.getSession().setUseWrapMode(true);
      editor.getSession().setWrapLimitRange(120, 120);

      var textarea = $('#article_content').hide();
      editor.getSession().on('change', function(){
        textarea.val(editor.getSession().getValue());
      });
    });

  </script>
<% end %>
